// -----------------top-----------------
.nav-top {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.373);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-top span i {
    display: none;
}

.p-top ul {
    font-size: 20px;
    margin-right: 200px;
    display: flex;
    list-style: none;
    gap: 32px;

    li a {
        text-decoration: none;
        color: $color-white;
        font-weight: bolder;
    }
}

.p-top-a a {
    background-color: black;
    color: black;
    align-items: flex-end;
    list-style: none;
}

// ------------------home-pag-top--------------
.homepage-top {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, $bk-color-top 43%);
    display: flex;

}

.homepage-image {
    width: 40%;
    height: 90vh;
    background: radial-gradient(rgba(19, 16, 38, 1) 1px, transparent 10px);
    background-color: rgba(0, 0, 0, 0.685);
    background-size: 20px 20px;
    display: flex;
    align-items: center;
}

.homepage-image img {
    opacity: inherit;
    margin-left: 180px;
}

.home-sentance {
    width: 50%;
    height: 90vh;
    color: white;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        font-size: 56px;
    }

    .home-readmore {
        width: 15%;
        margin-top: $magin-top;
        padding: 15px 50px;
        background: #fff;
        color: #111;
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
        border: none;

    }
}

.unleash {
    width: 20%;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding: 15px 50px;
    background: #fff;
    color: #111;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.unleash::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 45px solid #fff;
    border-right: 20px solid transparent;
    z-index: 1;
}

/* black shadow behind the angle */
.unleash::before {
    content: '';
    position: absolute;
    top: 0;
    right: -23px;
    width: 0;
    height: 0;
    border-top: 45px solid #000;
    border-right: 23px solid transparent;
    z-index: 0;
}

// <!-- --------------about------------------- -->
.about-home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        font-size: $font-size-lg;
        font-weight: bolder;
        padding: $padding*4;
    }

    .about-homepage {
        display: flex;
        justify-content: center;


        .about-homepage-image {

            width: 40%;
            z-index: 1000;

            img {
                margin-left: 100px;
                width: 550px;
                border-radius: $border-radius;
            }
        }

        .about-homepage-sentance {

            width: 40%;
            margin-top: $magin-top*4;
            border-radius: $border-radius*2;
            color: $color-white;
            padding: $padding;
            background-color: $bk-color-top;

            h2 {
                margin-left: 40px;
                font-size: $font-size-lg;
                font-weight: bolder;
                margin-bottom: $magin-top;
            }

            p {
                margin-left: 40px;
                font-size: 20px;
            }

            .about-home-sentance-btn {
                margin-left: 40px;
                width: 20%;
                margin-top: $magin-top;
                padding: $padding;
                background: $color-white;
                color: $color-black;
                font-family: Arial, sans-serif;
                font-weight: bold;
                text-decoration: none;
                letter-spacing: 1px;
                border: none;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: $color-white;
                    background-color: darken(rgba(166, 162, 162, 0.566), 10%);
                }
            }
        }
    }
}

//  <!-- ----------------------------services----------------- -->
.services {
    width: 100%;
    height: 100vh;
    background-color: $bk-color-top;
    color: $color-white;
   
    h4 {
        font-size: $font-size-lg;
        font-weight: bolder;
        padding: $padding*4;
        text-align: center;
    }

    .services-pag {

        display: flex;
        justify-content: center;
        align-items: center;

        .services-pag-sentact {
            width: 30%;
            background-color: $bk-color-black;
            border-radius: $border-radius*2;
            padding: $padding*2;
        }

        p {
            margin-top: $magin-top/4;
        }

        .services-pag-btn {
      
            width: 30%;
            margin-top: $magin-top;
            padding: $padding;
            background: $color-white;
            color: $color-black;
            font-family: Arial, sans-serif;
            font-weight: bold;
            text-decoration: none;
            letter-spacing: 1px;
            border: none;
            text-align: center;
            cursor: pointer;

            &:hover {
                color: $color-white;
                background-color: darken(rgba(166, 162, 162, 0.566), 10%);
            }
        }
    }

    .services-pag-imag {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .services-one {
            img {
                width: 250px;

            }
        }

        .services-two {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        img {
            width: 250px;
        }
    }
}


// -------------------imag-company----------------
.contact-company {
    margin-top: $magin-top * 4;
    margin-bottom: $magin-top * 4;

    display: flex;
    justify-content: center;
    gap: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}