$font-size-sm: 16px;
$font-size-md:24px;
$font-size-lg:32px;
$color-black: black;
$color-white: white;
$bk-color-white:white;
$bk-color-black:black;
$magin-top:32px;
$bk-color-top: rgba(34, 31, 54, 1);
$padding: 16px;
$border-radius: 8px;
