//  <!-- -----------------------gallery-mian-------------- -->
.gallery-main {
    margin-top: $magin-top;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        padding: $padding*2;
    }

    .gallery-main-imag {
        display: flex;
        gap: 32px;

        .image {
            margin-top: $magin-top;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                width: 50%;
                margin-top: -20px;
                padding: $padding/2;
                font-family: Arial, sans-serif;
                font-weight: bolder;
                text-align: center;
                background-color: $bk-color-top;
                color: $color-white;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

            }

            &:hover {
                transform: translateY(-10px) scale(1.03);
                box-shadow: 0 8px 16px white;
            }
        }
    }

}